@define-color placeholder_text_color #c8c8c8;
@define-color tasklist_app_indicator_color #3ca8ea;
@define-color tasklist_app_active_color rgba(255, 255, 255, 0.3);

* {
    font-family: "Noto Sans CJK SC";
}

button.toggle.kiran-menu-applet-button {
    background: transparent;
    box-shadow: none;
}

button.toggle.kiran-menu-applet-button:active {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: none;
}

button.toggle.kiran-menu-applet-button:prelight {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

.kiran-app-item {
    background: transparent;
    color: #ffffff;
    border-width: 0px;
    border-right-width: 3px;
    border-style: solid;
    border-color: transparent;
    min-height: 40px;
    padding: 0px;
    padding-left: 25px;
    border-image: none;
    outline: none;

    -gtkmm__CustomObject_KiranMenuAppItem-icon-spacing: 12px;
}

.kiran-app-entry {
    min-height: 100px;
    min-width: 88px;
    border: none;
    border-radius: 5px;
    -gtkmm__CustomObject_KiranMenuAppItem-icon-spacing: 8px;
    -gtkmm__CustomObject_KiranMenuAppItem-max-width: 88px;
    -gtkmm__CustomObject_KiranMenuAppItem-max-height: 100px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-image: none;
    outline: none;
}

.kiran-app-entry:hover {
    background: rgba(255, 255, 255, 0.1);
}


.kiran-category-item {
    background-color: transparent;
    border-width: 0px;
    border-right-width: 3px;
    border-color: transparent;
    min-height: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    border-image: none;
    outline: none;

    -gtkmm__CustomObject_KiranMenuCategoryItem-icon-spacing: 12px;
}


.kiran-app-item:hover, .kiran-category-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #4cb5ff;
    border-style: solid;
}

.kiran-app-item:focus, .kiran-category-item:focus, .kiran-app-entry:focus {
    outline-offset: -2px;
    outline-style: dotted;
    outline-color: #ffffff;
    outline-width: 1px;
}

.kiran-search-entry {
    border-radius: 3px;
    box-shadow: none;
}

window#menu-window {
    background: rgba(28, 28, 28, 0.9);
    min-width: 760px;
    min-height: 682px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);

    -gtkmm__CustomObject_KiranMenuWindow-compact-min-height: 682px;
    -gtkmm__CustomObject_KiranMenuWindow-expand-min-height: 682px;
}

button.kiran-app-button {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    border-image: none;

    min-height: 30px;
}

button.kiran-app-button:focus{
    outline-offset: -2px;
    outline-style: dotted;
    outline-color: #ffffff;
    outline-width: 1px;
    border-color: transparent;
    box-shadow: none;
    border-image: none;
}

button.kiran-app-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: transparent;
    box-shadow: none;
    outline: none;
    border-image: none;
}

separator.horizontal, separator.vertical
{
    background-color: rgba(255, 255, 255, 0.2);
}

separator#sidebar-separator {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}

menuitem {
    color: white;
    background: transparent;
}

menuitem:hover {
    background: rgba(255, 255, 255, 0.15);
}

menu {
    background: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

entry.kiran-search-entry {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
}

entry.kiran-search-entry:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
}

entry.kiran-search-entry selection {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
}

.kiran-section-box {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
}

scrolledwindow {
    border: none;
    background: transparent;
}

viewport {
    background: transparent;
}

label.search-empty-prompt {
    font-size: 18px;
    color: #8b8b8b;
}

.kiran-expand-button {
    box-shadow: none;
    background: transparent;
    border: none;
    border-image: none;
    color: #ffffff;
    padding-left: 24px;
    -GtkButton-image-spacing: 12px;
}

button.kiran-expand-button:focus{
    outline-offset: -2px;
    outline-style: dotted;
    outline-color: #ffffff;
    outline-width: 1px;
    border-color: transparent;
    box-shadow: none;
    border-image: none;
}

.kiran-tasklist-button {
    background: transparent;
}
.kiran-tasklist-button:hover{
    background: rgba(255, 255, 255, 0.2);
}

.kiran-tasklist-button:active{
    background: rgba(255, 255, 255, 0.35);
}


.window-previewer.vertical:hover, .window-previewer.horizontal:hover {
    border: 1px solid gray;
    border-radius: 6px;
    border-color: rgba(46,179,255, 0.6);
}

.window-previewer {
    border-radius: 6px;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
}

.window-previewer.vertical {
    border: 1px solid transparent;
}

.window-previewer.horizontal {
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 140px;
}


window.app-previewer {
    background: transparent;
    border: none;
}

window.app-previewer scrolledwindow, window.app-previewer viewport {
    background: transparent;
    border: none;
}

button.previewer-close-btn{
    border: none;
    box-shadow: none;
    border-image: none;
    background-position: center;
    background-repeat: no-repeat no-repeat;
    padding: 0px;
}

button.previewer-close-btn {
    background-image: url("/kiran-tasklist/icon/close_normal");
}

button.previewer-close-btn:hover{
    background-image: url("/kiran-tasklist/icon/close_prelight");
    padding: 0px;
}

button.previewer-close-btn:active {
    background-image: url("/kiran-tasklist/icon/close_active");
    padding: 0px;
}

menu.previewer-context-menu {
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

menu.previewer-context-menu menuitem {
    color: white;
    background: transparent;
    min-height: 28px;
    padding-left: 12px;
    padding-right: 12px;

    border-width: 0px;
    border-right-width: 4px;
    border-color: transparent;
    border-style: solid;
}

menu.previewer-context-menu menuitem:hover {
    background: rgba(255, 255, 255, 0.15);
    border-width: 0px;
    border-right-width: 4px;
    border-color: #3ca8ea;
    border-style: solid;
}


scrollbar {
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
}

scrollbar.horizontal, scrollbar.vertical{
    border: none;
    background: transparent;
    border-image: none;
}

scrollbar.horizontal {
    min-height:5px;
}

scrollbar.vertical {
    min-width:5px;
}


scrollbar.horizontal trough, scrollbar.vertical trough {
   background: transparent;
   border-image: none;
   border: none;
}

scrollbar.horizontal button, scrollbar.horizontal button {
    min-height: 0px;
    min-width: 0px;
    background: transparent;
    border: none;
}

scrollbar.horizontal slider, scrollbar.vertical slider {
    background: rgba(255, 255, 255, 0.2);
    border-image: none;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}

scrollbar.horizontal slider {
    min-width: 40px;
    min-height: 5px;
}

scrollbar.vertical slider {
    min-width: 5px;
    min-height: 40px;
}

scrollbar.horizontal slider:active, scrollbar.horizontal slider:hover, scrollbar.vertical slider:active, scrollbar.vertical slider:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.8);
}
