@define-color placeholder_text_color #c8c8c8;

kiran-app-item {
    background: transparent;

    font-family: "Noto Sans CJK SC";
    font-size: 14pt;
    border-width: 0px;
    border-right-width: 3px;
    border-style: solid;
    border-color: transparent;
    min-height: 40px;

    padding-left: 25px;
    -KiranAppItem-icon-spacing: 12px;

    color: white;
    -gtk-dpi: 72;
}

.category-item-box {
    margin-left: 12px;
}

kiran-category-item {
    background-color: transparent;
    border-width: 0px;
    border-right-width: 3px;
    border-color: transparent;
    min-height: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

kiran-category-item:hover {
    background-color: rgba(255, 255, 255, 0.1);;
}

kiran-category-item  label {
    margin-left: 10px;
    font-size: 15pt;
    font-weight: bold;
    -gtk-dpi: 72;
}

kiran-app-item:focus, kiran-category-item:focus {

    background: rgba(255, 255, 255, 0.1);
    border-color: #4cb5ff;
    border-style: solid;
}

button.kiran-app-button {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background: transparent;

    min-height: 30px;
}

button:focus {
    outline-offset: -2px;
    outline-style: dotted;
    outline-color: #ffffff;
    outline-width: 1px;
}

button.kiran-app-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

button.switch-button {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
    background: rgba(255, 255, 255, 0.05);
    font-weight: bold;
}

button.switch-button:hover
{
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

button.switch-button:focus
{
    outline-offset: -3px;
}

button.toggle.kiran-expand-button {
    border: none;
    min-height: 40px;
    background: transparent;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
}

button.toggle.kiran-expand-button:hover {
    border: none;
    min-height: 40px;
    background: rgba(255, 255, 255, 0.1);
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
}

entry.kiran-search-entry {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
}

entry.kiran-search-entry:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

entry.kiran-search-entry selection {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
}

separator {
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

separator#sidebar-separator {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

window#menu-window {
    background-color: #0c0c0c;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

scrollbar.vertical {
    border-width: 1px;
    background-color: transparent;
    min-width:5px;
}
scrollbar.vertical button {
    min-height: 0px;
    min-width: 0px; 
    background: transparent;
    border: none;
}

scrollbar.vertical slider {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 5px;

    min-width: 5px;
    min-height: 40px;
}

scrollbar.vertical slider:active, scrollbar.vertical slider:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 5px;
}

scrollbar.vertical button.up scrollbar.vertical button.down {
    background: transparent;
    background-image: none;
    border: none;
}

#category-overview-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

popover.kiran-power-menu button{
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 80px;
}

popover.kiran-power-menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

popover.kiran-power-menu.background {
    background-color: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

popover.kiran-power-menu button {
    background: transparent;
    color: white;
    border: none;
}

popover.kiran-power-menu button:hover {
    background: rgba(255, 255, 255, 0.1);
}

label#app-empty-prompt {
    color: #ffffff;
    padding-left: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

label.search-empty-prompt {
    font-size: 18px;
    color: #8b8b8b;
}

menu {
    background: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

menuitem {
    background: transparent;
    color: #ffffff;
}

menuitem:hover {
    background: rgba(255, 255, 255, 0.1);
}

menuitem:active {
    background: rgba(255, 255, 255, 0.3);
}


button.kiran-expand-button {
    padding: 0px;
    padding-left: 26px;
    min-height: 38px;
    border-width: 0px;
}
